<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/styling.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Srisakdi" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
    <title>Title</title>
</head>
<body>
  <nav class="nav navbar-expand md sticky-top">
    <div class="navbar-brand">
      <a href="caverta.html">Caverta<p>fine dining</p></a>
    </div>

    <ul class="nav navbar-nav">
      <li class="nav-item">
        <a href="#" class="navbar-link">Home</a>
      </li>

      <li class="nav-item">
        <a href="#" class="navbar-link">Menu</a>
      </li>

      <li class="nav-item">
        <a href="#" class="navbar-link">Reservation</a>
      </li>

      <li class="nav-item">
        <a href="#" class="navbar-link">Blog</a>
      </li>

      <li class="nav-item">
        <a href="#" class="navbar-link">Team</a>
      </li>

      <li class="nav-item">
        <a href="#" class="navbar-link">Gallery</a>
      </li>

      <li class="nav-item">
        <a href="#" class="navbar-link">Contact</a>
      </li>

      <li class="nav-item">
        <a href="#" class="navbar-link">Buy Now</a>
      </li>
    </ul>

    <div>
      <a href="book-table.html" class="btn btn-primary">book a table</a>
    </div>
  </nav>

  <!-- content -->
  <div class="book-table">
    <h1>book a table</h1>

    <form action="index.html" method="post">
      <input type="text" name="" placeholder="Name">
      <input type="tel" name="" placeholder="Mobile Number">
      <input type="email" name="" placeholder="Email"><br>
      <input type="date" name="" placeholder="Date">
      <input type="time" name="" placeholder="Time">
      <select name="">
        <option>Table For</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
        <option>6</option>
      </select><br>
      <textarea name="name" rows="8" cols="147" placeholder="Message"></textarea><br>
      <a href="thank-u.html" class="btn btn-default">book table</a>
    </form>
  </div>

  <!-- footer -->
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col col-md">
          <div>
            <a href="#">Caverta<p>fine dining</p></a>
          </div>
          <p class="text">For a truly memorable dining experience reserve in advance a table as soon as you can. Come and taste our remarkable food and wine.</p>
        </div>

        <div class="col col-md address">
          <h6>ADDRESS</h6>
          <ul>
            <li>58 Ralph Ave</li>
            <li>New York, New York 1111</li>
            <br>
            <li>P: +1 800 000 111</li>
            <li>E: contact@example.com</li>
          </ul>
        </div>

        <div class="col col-md hours">
          <h6>HOURS</h6>
          <ul>
            <li>Monday – Sunday</li>
            <li>Lunch: 12PM – 2PM</li>
            <li>Dinner: 6PM – 10PM</li>
            <br>
            <li>Happy Hours: 4PM – 6PM</li>
          </ul>
        </div>

        <div class="col col-md more">
          <h6>MORE INFO</h6>
          <ul>
            <li>Careers</li>
            <li>Get in Touch</li>
            <li>Get in Touch</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="form-inline">
      <p>Copyright © 2019, Caverta . Designed by MatchThemes</p>
      <div class="social">
        <div class="form-inline">
          <i class="fab fa-facebook-f"></i>
          <i class="fab fa-twitter"></i>
          <i class="fab fa-google-plus-g"></i>
          <i class="fab fa-instagram"></i>
        </div>
      </div>
    </div>
  </footer>
</body>
</html>
